%h3 Forums
%ul
  - if @forums.length > 0
    - @forums.each do |f|
      %li
        %a{:href=>"/forums/#{f.id}"}= "#{f.name} - #{f.description}"
  - else
    %li
      There are no forums.
%ul
  %li
    %a{:href=>'/forums/new'} create forum
      