%h3 Forums
%ul
  - if @forums.length > 0
    - @forums.each do |f|
      %li
        %a.forum-name{:href=>"/forums/#{f.id}"}= f.name
        = "(#{f.topics.length} #{f.topics.length == 1 ? "topic" : "topics"})"
  - else
    %li
      There are no forums
%ul.actions
  %li
    %a{:href=>'/forums/new'} Create forum
      