!!!
%html
  %head
    %title TinyFora
    %link{:rel=>'stylesheet', :href=>"/style#{rand(10000000000)}.css", :type => "text/css"}
  %body
    #header= partial(:_header)
    #body= yield
    #footer= partial(:_footer)
