%form{:action=>'/users', :method=>:post}
  %ul
    %li
      %label{:for=>:login} Login
    %li
      %input{:type=>:textbox, :name=>:login}
    %li
      %label{:for=>:password} Password
    %li
      %input{:type=>:password, :name=>:password}
    %li
      %input{:type=>:submit,:value=>'Register'}
        