%form{:action=>"/forums/#{@topic.forum.id}/topics/#{@topic.id}/posts", :method=>:post}
  %table
    %tr
      %td
        %label{:for=>:body} Body
      %td
        %textarea{:name=>:body, :rows=>5}
    %tr
      %td{:colspan=>2}
        %input{:type=>:submit}
