= partial(:_forum_header)
%h4 New Topic
%form{:action=>"/forums/#{@forum.id}/topics", :method=>:post}
  %ul
    %li
      %label{:for=>:name} Title
    %li
      %input{:type=>:textbox, :name=>:title}
    %li
      %label{:for=>:body} Body
    %li
      %textarea{:name=>:body, :rows=>5}
    %li
      %input{:type=>:submit,:value=>'Post'}
