%form{:action=>'/forums', :method=>:post}
  %ul
    %li
      %label{:for=>:name} Name
    %li
      %input{:type=>:textbox, :name=>:name}
    %li
      %label{:for=>:description} Description
    %li
      %textarea{:name=>:description}
    %li
      %input{:type=>:submit,:value=>'Create'}
