%form{:action=>'/users', :method=>:post}
  %dl
    %dt
      %label{:for=>:login} Login
    %dd
      %input{:type=>:textbox, :name=>:login}
    %dt
      %label{:for=>:password} Password
    %dd
      %input{:type=>:password, :name=>:password}
    %dd
      %input{:type=>:submit,:value=>'Register'}
        